@using Sitecore.Mvc
<body>
    @Html.Partial("~/Views/PageHader/CssLink.cshtml")
    <!-- Header Start -->
    @Html.Sitecore().Placeholder("head")
    <!-- Header End -->


    @Html.Sitecore().Placeholder("main")
</body>


