@using Sitecore.Mvc
<body>
    @Html.Partial("~/Views/PageHader/CssLink.cshtml")
    <!-- Header Start -->
    @Html.Sitecore().Placeholder("head")
    <!-- Header End -->
    @Html.Sitecore().Placeholder("main")
    <!-- Carousel Start -->
    <div class="container-fluid p-0 mb-5">
        <div id="header-carousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="w-100" src="~/img/carousel-2.jpg" alt="Image">
                    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                        <div class="p-3" style="max-width: 700px;">
                            <h6 class="section-title text-white text-uppercase mb-3 animated slideInDown">Pragati Unnati Ka Saath</h6>
                            <h5 class="text-white text-uppercase mb-3 animated">Pragati is a customer relationship program which focuses on both customer engagement and customer retention. Anyone who purchases a vehicle from the Maruti Suzuki Commercial Channel can be a member of the Pragati loyalty member.</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Carousel End -->
    <!-- Team Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title text-center text-primary text-uppercase"></h6>
                <h1 class="mb-5 text-primary text-uppercase">WHAT ARE THE BENEFITS?</h1>
            </div>
            <div class="row g-4">
                <div class="col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="rounded shadow overflow-hidden">
                        <div class="position-relative">
                            <img class="img-fluid" src="~/img/pragati1.jpg" alt="">
                            <div class="position-absolute start-50 top-100 translate-middle d-flex align-items-center">
                            </div>
                        </div>
                        <div class="text-center p-4 mt-3">
                            <h5 class="fw-bold mb-0">1% points on all eligible spends</h5>
                            <small>A customer receives points worth 1% of whatever amount is spent within the network, which includes MGA,service, spares, etc.</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="rounded shadow overflow-hidden">
                        <div class="position-relative">
                            <img class="img-fluid" src="~/img/group.jpg" alt="">
                        </div>
                        <div class="text-center p-4 mt-3">
                            <h5 class="fw-bold mb-0">1000 points for referrals</h5>
                            <small>A customer gets 1000 points on every successful referral.</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Team End -->
</body>


