@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using MSIL.Models
@model Services

<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title text-center text-primary text-uppercase">FIND A vehicle</h6>
            <h1 class="mb-5"><span class="text-primary text-uppercase">Search</span> A vehicle</h1>
        </div>
        <div class="row g-4">
            <div class="col-md-12">
                <div class="wow fadeInUp" data-wow-delay="0.2s">

                    <div class="row g-3">
                        <div class="col-8">
                            <div class="form-floating">
                                <input type="text" id="searchvalue" placeholder="search" class="form-control">
                                <label for="searchvalue">Search</label>
                            </div>
                        </div>

                        <div class="col-2">
                            <button id="btnSearch" class="btn btn-primary w-100 py-3">Search</button>
                        </div>

                    </div>
                </div>
                <div class="row g-4" id="con" style="margin-top: 1px; margin-bottom: 23px;">

                </div>


            </div>
        </div>
    </div>
</div>
    <script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>

    <script type="text/javascript">
    $(document).ready(function () {
       
        $("#btnSearch").on('click', function () {
            var Id = $("#searchvalue").val();
            if (Id != "") {
                $.ajax({
                    url: "http://msilcommercial.local:82/api/sitecore/Main/GetCar",
                    type: "GET",
                    data: { searchtxt: Id },
                    context: this,
                    success: function (data) {
                        var mySelect = $('#con');
                        $('#con').html("");
                        $.each(data, function (val, text) {
                            var html = '<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s"><div class="rounded shadow overflow-hidden" ><div class="text-center p-4 mt-3"><h5 class="fw-bold mb-0"><i class="fa fa-envelope me-3"></i>' + text.Name + '</h5><small><i class="fa fa-map-marker me-3"></i>' + text.Variants[0].Name + '</small><br /><small><i class="fa fa-phone me-3"></i>' + text.Variants[1].Name +'</small></div></div></div>';
                            mySelect.append(html);
                        });
                    },
                    error: function (data) {
                        console.log("error", data);
                    }
                });
            }
            else {
            }

        });


        });
    </script>






