@using Sitecore.Mvc
<body>
    @Html.Partial("~/Views/PageHader/CssLink.cshtml")
    <!-- Header Start -->
    @Html.Sitecore().Placeholder("head")
    <!-- Header End -->

    @Html.Sitecore().Placeholder("main")

    <!-- Service Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title text-center text-primary text-uppercase">Our Services</h6>
                <h1 class="mb-5">Explore Our <span class="text-primary text-uppercase">Services</span></h1>
            </div>
            <div class="row g-4">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <a class="service-item rounded" href="">
                        <div class="service-icon bg-transparent border rounded p-1">
                            <div class="w-100 h-100 border rounded d-flex align-items-center justify-content-center">
                                <i class="fa fa-ravelry fa-2x text-primary"></i>
                            </div>
                        </div>
                        <h5 class="mb-3">INGENUITY</h5>
                        <p class="text-body mb-0">Creative and innovative solutions tailor-made to address the gap between home and hub life or cater to day to day business challenges.</p>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                    <a class="service-item rounded" href="">
                        <div class="service-icon bg-transparent border rounded p-1">
                            <div class="w-100 h-100 border rounded d-flex align-items-center justify-content-center">
                                <i class="fa fa-handshake-o fa-2x text-primary"></i>
                            </div>
                        </div>
                        <h5 class="mb-3">PARTNERSHIP</h5>
                        <p class="text-body mb-0">Listening, understanding and designing product and service practices that foster partnership for maximum growth and progress..</p>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <a class="service-item rounded" href="">
                        <div class="service-icon bg-transparent border rounded p-1">
                            <div class="w-100 h-100 border rounded d-flex align-items-center justify-content-center">
                                <i class="fa fa-trophy fa-2x text-primary"></i>
                            </div>
                        </div>
                        <h5 class="mb-3">EFFICIENCY</h5>
                        <p class="text-body mb-0">Quick and efficient solutions and processes created to enhance productivity & growth of business.</p>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
                    <a class="service-item rounded" href="">
                        <div class="service-icon bg-transparent border rounded p-1">
                            <div class="w-100 h-100 border rounded d-flex align-items-center justify-content-center">
                                <i class="fa fa-flask fa-2x text-primary"></i>
                            </div>
                        </div>
                        <h5 class="mb-3">OPENNESS & TRANSPARENCY</h5>
                        <p class="text-body mb-0">Honesty and transparency across processes, dissemination of information and dealings, invoking a sense of genuineness.</p>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <a class="service-item rounded" href="">
                        <div class="service-icon bg-transparent border rounded p-1">
                            <div class="w-100 h-100 border rounded d-flex align-items-center justify-content-center">
                                <i class="fa fa-shield fa-2x text-primary"></i>
                            </div>
                        </div>
                        <h5 class="mb-3">RELIABILITY</h5>
                        <p class="text-body mb-0">Inspiring trust by showcasing dependability in every interaction across the various aspects of the channel- availability, acquisition, performance & service.</p>
                    </a>
                </div>

            </div>
        </div>
    </div>
    <!-- Service End -->
    <!-- Newsletter Start -->
    <div class="container newsletter mt-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="row justify-content-center">
            <div class="col-lg-10 border rounded p-1">
                <div class="border rounded text-center p-1">
                    <div class="bg-white rounded text-center p-5">
                        <h4 class="mb-4">Subscribe Our <span class="text-primary text-uppercase">Newsletter</span></h4>
                        <div class="position-relative mx-auto" style="max-width: 400px;">
                            <input class="form-control w-100 py-3 ps-4 pe-5" type="text" placeholder="Enter your email">
                            <button type="button" class="btn btn-primary py-2 px-3 position-absolute top-0 end-0 mt-2 me-2">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Newsletter Start -->
    @*@Html.Sitecore().Placeholder("foot")*@
</body>


